:root {
    --icebergColor: #84ACCE;
    --steelBLueColor: #537999;
    --oxfordBlueColor: #0B2545;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}



body {
    height: 100vh;
    background: linear-gradient(
        var(--icebergColor),
        var(--steelBLueColor)
    );
    color: var(--oxfordBlueColor);
}