:root {
    --icebergColor: #84ACCE;
    --steelBLueColor: #537999;
    --oxfordBlueColor: #0B2545;
    --orangeColor: #FF8018;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, button {
    font-family: "Rubik", sans-serif;
}

body {
    height: 100%;
    background: linear-gradient(
        var(--icebergColor),
        var(--steelBLueColor)
    );
    color: var(--oxfordBlueColor);
}

a {
    text-decoration: none;
    color: inherit;
}

p, #email {
    font-size: 1.2rem;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 12px;
}

section {
    padding: 24px 64px;
    margin-bottom: 24px;

    width: 100%;
}

/* HEADER & NAVBAR STYLING */

#header {
    padding: 16px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    position: fixed;
    top: 0;
    background-color: var(--icebergColor);
    min-height: 40px;

    margin-bottom: 42px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

#header-img {
    height: 64px;
    width: 64px;
}

h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 2.4rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 42px;
    font-size: 1.3rem;
}

/* WHY-US? SECTION STYLING */

#Why-us, #Programmes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#Why-us {
    margin-top: 120px;
}

.advantage {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 700px;
}

.advantage img {
    height: 64px;
    width: 64px;
}

/* PROGRAMMES SECTION STYLING */

.programme-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 36px;
}

.programme {
    text-align: center;
    min-width: 180px;
    max-width: 250px;
    border: 3px solid var(--oxfordBlueColor);
    background-color: var(--steelBLueColor);
    box-shadow: 0 0 6px 0 black;

    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    place-items: center;
}

.programme-title {
    font-size: 1.4rem;
    padding: 0 12px;
}

.price {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 12px 16px;
}

.programme button, input[type="submit"] {
    cursor: pointer;

    font-size: 1.3rem;
    font-weight: 600;
    padding: 6px 24px;
    margin: 12px 0;

    background-color: var(--orangeColor);
    color: var(--oxfordBlueColor);

    text-transform: uppercase;

    border: none;
    border-radius: 4px;

    transition: ease-in-out 0.15s;
}

.programme button:hover {
    background-color: var(--icebergColor);
}

/* REVIEWS SECTION STYLING */

.customers {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 24px;
}

.customer {
    border: 3px solid var(--oxfordBlueColor);
    padding: 24px;
    border-radius: 6px;

    max-width: 400px;

    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.customer-name {
    margin-bottom: 12px;
    font-size: 1.4rem;
    font-weight: 500;
}

/* NEWSLETTER SECTION STYLING */

#form {
    text-align: center;
}

#email {
    margin-bottom: 12px;
    padding: 4px 8px;
    
    outline: none;
}

#email:focus {
    border: 2px solid black;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
}

/* WORKOUT SECTION STYLING */

#Workout {
    text-align: center;
    margin-bottom: 12px;
}

#video {
    height: 315px;
    width: calc(100% / 3);
    min-width: 300px;
}

/* FOOTER STYLING */

footer {
    width: 100%;
    font-size: 1.2rem; 

    text-align: center;
    padding: 24px;

    background-color: var(--oxfordBlueColor);
    color: var(--icebergColor);
}

footer a {
    font-weight: 500;
    color: var(--orangeColor);
}

footer a:hover {
    color: #C55900;
}

@media (max-width: 950px) {
    .customers {
        flex-flow: column wrap;
    }

    #header {
        flex-flow: row wrap;
        justify-content: center;
    }

    .logo-wrapper {
        text-align: center;
    }

    #header-img {
        height: 48px;
        width: 48px;
    }

    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem;
    }

    ul {
        flex-flow: row wrap;
        justify-content: center;
        font-size: 1.1rem;
    }
}

@media (max-width: 965px) {
    #Why-us {
        margin-top: 150px;
    }
}

@media (max-width: 400px) {
    #Why-us {
        margin-top: 240px;
    }
}



