:root {
    --icebergColor: #84ACCE;
    --steelBLueColor: #537999;
    --oxfordBlueColor: #0B2545;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    height: 100vh;
    background: linear-gradient(
        var(--icebergColor),
        var(--steelBLueColor)
    );
    color: var(--oxfordBlueColor);
}

#header {
    padding: 16px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 36px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

#header-img {
    height: 64px;
    width: 64px;
}

h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 2.4rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 64px;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: inherit;
}

#Why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#Why-us h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.advantage {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 700px;
}

.advantage img {
    height: 64px;
    width: 64px;
}

.advantage p {
    font-size: 1.2rem;
}