:root {
    --icebergColor: #84ACCE;
    --steelBLueColor: #537999;
    --oxfordBlueColor: #0B2545;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, button {
    font-family: "Rubik", sans-serif;
}

body {
    height: 100%;
    background: linear-gradient(
        var(--icebergColor),
        var(--steelBLueColor)
    );
    color: var(--oxfordBlueColor);
}

#header {
    padding: 16px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    position: fixed;
    top: 0;
    background-color: var(--icebergColor);
    min-height: 40px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

#header-img {
    height: 64px;
    width: 64px;
}

h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 2.4rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 64px;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: 24px 64px;
}

section, #header {
    margin-bottom: 42px;
}

#Why-us, #Programmes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#Why-us {
    margin-top: 120px;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.advantage {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 700px;
}

.advantage img {
    height: 64px;
    width: 64px;
}

p {
    font-size: 1.2rem;
}

.programme-wrapper {
    display: flex;
    gap: 36px;
}

.programme {
    text-align: center;
    width: calc(100% / 5);
    border: 3px solid var(--oxfordBlueColor);
    background-color: var(--steelBLueColor);
    box-shadow: 0 0 6px 0 black;

    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    place-items: center;
}

.programme-title {
    font-size: 1.4rem;
    padding: 0 12px;
}

.price {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 12px 16px;
}

.programme button {
    cursor: pointer;

    font-size: 1.3rem;
    padding: 6px 24px;
    margin: 12px 0;

    background-color: rgb(255, 128, 24);
    color: var(--oxfordBlueColor);

    text-transform: uppercase;

    border: none;
    border-radius: 4px;

    transition: ease-in-out 0.15s;
}

.programme button:hover {
    background-color: var(--icebergColor);
}